@import url("https://use.typekit.net/adu8mxv.css");

body {
    background-color: rgb(240, 240, 240);
    color: rgb(34, 42, 51);
    margin: 0px;
    font-family: halyard-display, sans-serif;
}

h1 {
    font-size: 36px;
    font-weight: 500;
    line-height: 50%;
}

h2 {
    font-size: 18px;
    font-weight: 300;
}

.left {
    width: 50% !important;
    margin: 0px;
    height: 100vh;
    float: left;
    display: flex;
    justify-content: center;
}

.left-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login {
    margin-top: 40px;
    padding: 40px 0px;
    background-color: white;
    border: solid rgb(219, 219, 219) 1px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 416.8px;
}

.text {
    border: solid rgb(219, 219, 219) 1px;
    border-radius: 20px;
    margin: 0px 0px 20px;
    height: 40px;
    padding: 0px 20px;
    width: 70%;
}

input::placeholder {
    font-family: input-mono, monospace;
    font-size: 12px;
}

.login-stuff {
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    width: 77%;
}

.login-stuff a{
    text-decoration: none;
    color: blue;
}

.login-stuff input {
    padding: 0;
    margin-right: 5px;
    position: relative;
    top: 1px;
}

.login button {
    width: 77%;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    background-color: #2962F4;
    color: white;
    font-family: halyard-display, sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 0px 20px;
    transition: 0.3s ease 0s;
}

.login button:hover {
    background-color: rgb(0, 0, 201);
    cursor: pointer;
}

.login h2 {
    width: 77%;
    text-align: center;
    border-bottom: 1px solid rgb(219, 219, 219);
    line-height: 0.1em;
    margin: 40px 0 0;
}


h2 span {
    background-color: white;
    padding: 0 10px;
    font-size: 14px;
}

.socials {
    display: flex;
    flex-direction: row;
}

.social {
    margin: 40px 5px 5px 5px !important;
    background-color: rgb(219, 219, 219) !important;
}

.social:hover {
    background-color: rgb(194, 194, 194) !important;
}

.social i {
    color: rgb(34, 42, 51);
    font-size: 20px;
}

.right {
    background-image: url(bg.svg);
    width: 50%;
    height: 100vh;
    margin: 0px;
    float: right;
}

#card1.show {
    display: none;
}

#card2 {
    display: none;
}

#card2.show {
    display: flex;
}

.topbar {
    width: 100%;
    height: 20px;
    background-color: #2962F4;
    display: none;
}

@media screen and (max-width: 1175px) {


    .left {
        width: 100% !important;
        display: flex;
        justify-content: center;
        height: auto !important;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .left-c {
        margin-right: 10%;
        margin-left: 10%;
    }
    
    .right {
        display: none;
    }

    .topbar {
        display: block;
    }

}
